

<div class="container">

<h1>QUOTES</h1>
<hr>
<div class="row">
	<div class="col jumbotron">

  <div *ngFor='let quote of quotes;let i = index'>
    <p appStrikethrough class="me">Added by : {{quote.name}}   on {{quote.completeDate|date|uppercase}}</p>
    <button (click)='toggleDetails(i)' class="btn btn-outline-primary">Show Details</button>

    <app-quote-detail *ngIf='quote.showDescription' [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-detail>


  </div>



</div>

   
      
    

<div class="col">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>


</div>
  
</div>
 

 

 